
body {
    background-image: url(assets/code-bkgrd.jpg);
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1000px;
}

#score-leaderboard {
    margin: 10px;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    color: green;
}

#return-quiz {
    margin: 10px;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    cursor: pointer;
    color: green;
}

#time-spent {
    margin: 10px;
    padding: 10px;
    position: fixed;
    top: 0;
    right: 0;
    color: green;
}

#quiz-area {
    padding: 10px;
    text-align: center;
    position: absolute;
    top: 25%;
    left: 25%;
    right: 25%;
    box-shadow: 0px 10px 20px rgba(113, 201, 78, 0.3);
    border-radius: 20px;
    color: rgb(130, 211, 130);    
    background-color: rgba(184, 231, 184, 0.212);
}

#start-quiz p {
    margin: 20px;
    padding: 20px;
}

.btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
}

.btn {
    background-color: green;
    color: white; 
    font-size: 20px;
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
    outline: none;
}

.btn:hover {
    background-color: rgb(40, 201, 40);
}

#submit-initials {
    display: inline;
}

.hide {
    display: none;
}

textarea {
    padding: 5px;
    margin: 5px;
    font-size: 25px;
    text-align: center;
}
